body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("pencils.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#center {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: ghostwhite;
    font-size: 24pt;
    margin-top: 50vh;
    margin-left: 50vh;
}

.button {
    font-size: 20pt;
    position: relative;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    height: 2pt;
}

#Btn {
    border-radius: 20px;
    width: 95px;
    height: 35px;
    cursor: pointer;
}

.page {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 25%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2)
}

.content {
    background-color: lightgray;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.split {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: gray;
    position: center;
}

.split button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 17px;
    transition: 0.3s;
    font-size: 20px;
}

.split button:hover {
    background-color: lightblue;
}

.split button.active {
    background-color: lightsteelblue;
}

.text {
    display: none;
    padding: 40px 40px;
    border: 1px solid #ccc;
    border-top: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=number],
input[type=date],
textarea {
    display: inline-block;
    width: 87%;
    padding: 15px;
    border: 2px;
    background: lightgray;
    margin: 5px 0 20px 0;
}

input[type=submit] {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 12px;
    border: 3px;
    background: skyblue;
    margin: 5px 0 20px 0;
    cursor: pointer;
    font-weight: bold;
    color: darkblue;
}

#contain {
    display: inline-block;
    border: 3px;
}

#contain {
    display: block;
    width: 140px;
    border-radius: 10%;
    border: 2px solid white;
    margin: 10px;
    height: 70px;
    padding: 20px;
}
@media screen and (max-width: 900px) {
    #center {
        position: relative;
        top: auto;
        margin-left: 15vh;
    }
}

@media screen and (max-width:900px) {
    body {
        height: 50vh;
    }
    #up {
        align-items:center;
        justify-content: center;
        width: 280px;
        height: auto;
        position:absolute;
        font-size: x-small;
        margin-left: 0.55vh;
        margin-bottom: 20vh;
    }
    .page{
        align-items:center;
    }
    .content {
        align-items: center;
        top: 20px;
        left:0;
        justify-content: center;
        margin-left: 0%;
        float: left;
    }
    #split{
        font-size: smaller;
    }
    #split1 {
        top: 40px;
        left: 0;
        margin-right: 0;
        margin-top: -20px;
        font-size:x-small;
        position: relative;
}
}
@media screen and (max-width:280px) {
    #name,#dob,#email,#num,#url,#add,#password1,#password2,#contain{
        justify-content:left;
        width: 70px;
        float: left;
    }
    
}